:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --card-set-gap: 30px;
}
/* Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}
/* Utility */
img {
    display: block;
    max-width: 100%;
    height: auto
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* Universal selectors (Універсальні селектори) */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.site-body {
    color: var(--primary-text-color);
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}
/* Main nav */
.nav {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid#ECECEC;
}
/* Header */
.header {
    /* padding-top: 24px;
    padding-bottom: 25px; */
    /* margin-bottom: 94px; */
}
/* Site logo */
.site-logo {
    display: flex;
}
.logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
/* Site nav */
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .site-nav-item:not(:first-child) {
    margin-left: 50px;
}

.site-nav-item {
    display: block;
}
.site-nav-item .link{
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Contacts */
.contacts {
    display: flex;
    margin-left: auto;

}

.contacts .contacts-list + .contacts-list {
    margin-left: 50px;
}
.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.contacts .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    cursor: pointer;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Button */
.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.portfolio-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: #F5F4FA;
    border: 0;
    cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}
/* Hero */
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    
}
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
    
}
.hero-title {
    font-weight: 900;
    font-style: normal;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.btn-hero {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
/* feachures */
.feachures {
    padding: 94px 0;
}
.feachures-list {
    display: flex;
}
.feachures-name {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    
}
.feachures-dsr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}
/* What we do */
.whatwedo {
    padding-bottom: 94px;
}
.whatwedo-title {
    margin-bottom: 50px;
    

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);   
}
.whatwedo-title-list {
    display: flex;
    gap: 30px;
}

/* Team */
.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-item-wrap {
    padding: 30px 0;
}
.team-item {
    background-color: #fff;
}
.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}
/* Portfolio page */
.portfolio {
    padding-bottom: 94px;
}
.portfolio-nav {
    margin-bottom: 34px;
    
}
.portfolio-btn-list {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 6px 22px;
    list-style: none;
}
.portfolio-btn-list .portf-btn-item:not(:first-child) {
    padding-left: 8px;
}
.client-list {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.client-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);

}
.card-thumb {
    border: 1px solid #EEEEEE;
}
.card-contant {
    padding: 20px 24px;
}
.card-img {
    margin-bottom: 20px;
}
.client {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.work-type {

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* Footer */
.footer {
    background: #2F303A;
    padding: 60px 0;
}
.footer-contacts {
    margin-top: 20px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}
.footer-nav .footer-list + .footer-list {
    margin-top: 9px;
}
.footer .logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer .logo-studio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-mail, 
.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}







